/* GLOBAL STYLE DEFINITIONS */


.main {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
}

.left-spacer {
    width: 20%;
}

/* define text style for hyperlinks on nav-bar */
a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgray;
}

/*default text styles*/

p {
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
}


/* Navigation bar at top style structure */
.top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    height: 30px;
}

.nav-bar-container {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}

.nav-bar-item {
    display: block;
    padding: 0;
    padding-right: 60px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

li.nav {
    display: inline;
    float: left;
}

/*Introduction blurb flex box*/
.intro-blurb-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: center;
}

#Name {
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#descrip {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 0;
    padding-left: 20px;
}

.contact-info {
    margin: 0, auto;
    padding-left: 100px;
    justify-content: center;
    align-content: center;
}

.intro {
    margin 0;
    padding-right: 50px;
}

li.contact {
    display: block;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    justify-items: center;
}

img.contact {
    width: 30px;
}

img.contact:hover {
    opacity: 0.5;
}

/*Project flex box styling*/

.projects {
    display: flex;
    flex-direction: column;
}

.project-bin {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin 0;
    justify-content: flex-start;
    align-items: center;
}

.project-img,
.project-descrip {
    margin: 10px;
    flex-basis: 20em;
}

div.project-img img {
    width: 450px;
}

.proj-skill-img {
    width: 85px;
    filter: grayscale(100%);
}

div.project-descrip p,
a {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    min-width: 0;
}

div.project-descrip h3 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
}
