.container-name {
    position: relative;
    left: 0px;
    top: 10px;
    font: Futura, sans-serif;
    font-size: 20px;
    text-align: center;
}

.hex-grid {
    display: block;
    transform: translateY(-265px);
}

.hex-grid-row {
    display: flex;
    justify-content: center;
}

.hex-grid-row svg {
    /* Adjust margin to achieve 5px gap between hexagons */
    width: 238px; /* Fixed width */
    height: 250px; /* Fixed height */
    flex-shrink: 0; /* Prevent the SVG from shrinking */
    padding-left:55px;
    padding-right: 55px;
    position: relative;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.45));
    /* Add outer shadow */
}

.hex-grid-row svg:hover image {
    opacity: 0.5;
    /* Dim image on hover */
}

.hex-grid-row svg:hover .description {
    display: block;
    /* Show description on hover */
}

.description {
    display: none;
    /* Hide description by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
    /* Prevent mouse interaction */
}

#id1,
#id2,
#id3,
#id7, #id8, #id13,  #id27 {
    fill: none;
    stroke: none
}
